.gallery {
    display: flex;
    padding: 24px 156px;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    background: #fff;
    flex-wrap: wrap;
    min-width: 1440px;
    height: auto;
}

.gallery-image {
    width: 360px;
    height: 200px;
    flex-shrink: 0;
    box-sizing: border-box;
    transform: scale(1);
    transition: 250ms ease-out;
}

img {
    width: 360px;
    height: 200px;
}

.gallery-image:hover,
.gallery-image:focus {
    transform: scale(1.04);
}